<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>koa-passport example</title>
  <script>
    if (window.location.hash == '#_=_') { // https://coderwall.com/p/u3z_kq
      window.location.hash = ''; // for older browsers, leaves a # behind
      history.pushState('', document.title, window.location.pathname); // nice and clean
      e.preventDefault(); // no page reload
    }
  </script>
</head>
<body>
  <p>
  {{#if logined}}
    {{user.name}} <a href="/logout">Logout</a>
  {{else}}
    <a href="/auth/facebook">Sign in with Facebook</a> <a href="/auth/twitter">Sign in with Twitter</a> <a href="/auth/google">Sign in with Google</a>
  {{/if}}
  </p>
  <form method="post">
  {{#if article.content}}
    <textarea name="content">{{article.content}}</textarea>
    <input type="submit">
  {{else}}
    <textarea name="content"></textarea>
    <input type="submit">
  {{/if}}
  </form>
</body>
</html>
